@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* * {
    outline: 1px solid red;
    outline-offset: -1px;
  } */
  body {
    @apply antialiased font-body font-bold;
    background-image: url('./src/assets/marcus-urbenz-eboWHl-Jf6g-unsplash.jpg');
    background-position: 50% 0;
  }
}

@layer components {
  h1 {
    @apply text-9xl mt-32 mb-20 ease-in-out;
    text-decoration: underline 0.1em rgba(0,0,0,0);
    transition: text-decoration-color 300ms;
  }
  header:hover h1 {
    text-decoration-color: rgba(0,0,0,1);
  }
  div, button {
    @apply rounded-lg;
  }
}